/* Center the card and its content */
.card-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
}

/* Style the card */
.card {
  width: 400px; /* Minimum width for desktop */
  max-width: 80%; /* Maximum width for smaller screens */
  height: 600px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  flex-grow: 1; /* Allow the card to grow and take available space */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* card subtitle */
.card, .wsub {
  height: 500px;
}

/* Style the card when with subtitles */
.card_subtitle{
  width: 400px; /* Minimum width for desktop */
  max-width: 80%; /* Maximum width for smaller screens */
  height: 100px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  flex-grow: 1; /* Allow the card to grow and take available space */
  display: flex;
  flex-direction: column;
  justify-content: center;
}







/* Style the deck name on the top */
.deck-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont,
                "Segoe UI", "Roboto", "Oxygen", "Ubuntu", 
                "Cantarell", "Fira Sans", "Droid Sans",
                "Helvetica Neue", sans-serif;
  color: green;
}

/* Style the button at the bottom */
.card-button {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background: -webkit-gradient(linear,left top,left bottom,from(#ff6100),to(#ff5050));
  background: -webkit-linear-gradient(#ff6100,#ff5050);
  background: linear-gradient(#ff6100,#ff5050);
  -webkit-box-shadow: 0 2px 12px -3px #ff5050;
  box-shadow: 0 2px 12px -3px #ff5050;
  opacity: .9;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: -apple-system, BlinkMacSystemFont,
                "Segoe UI", "Roboto", "Oxygen", "Ubuntu", 
                "Cantarell", "Fira Sans", "Droid Sans",
                "Helvetica Neue", sans-serif;
}

.card-button:hover {
  background-color: #0056b3; /* Hover color */
}

/* Mobile styles */
@media (max-width: 768px) {
  .card-game-container {
    height: auto; /* Remove fixed height for mobile */
    max-height: 60%; /* 60% height for smaller screens (mobile) */
  }

  .card {
    min-width: auto; /* Remove minimum width for mobile */
    max-width: 100%; /* Full width for mobile */
  }
}
